#torch==2.5.1
#torchvision==0.20.1
#torchaudio==2.5.1
numpy
opencv-python
PyYAML
scipy
tqdm
addict
tensorboard
pycocotools
# must version 1.17.0 because 1.19.0 (latest) is not working
onnx==1.17.0  # ONNX export
onnxsim # ONNX simplifier
thop  # FLOPs computation
# pytorch_quantization>=2.1.1
requests
psutil
